
<!-- 
<div class="list-group" >
    <a class="list-group-item active" routerLink="" >Tüm Ürünler</a>
    <a class="list-group-item" *ngFor="let category of categories" routerLink="products/category/{{category.id}}" >{{category.name}}</a>

</div> -->


<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" routerLink="/products" routerLinkActive="router-link-active"  >Tüm Ürünler</a>
     <a class="p-2 link-secondary" *ngFor="let category of categories" routerLink="/products/category/{{category.id}}">{{category.name}}</a>
  
  </nav>
</div>
